<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
</head>
<body>

    <di>debug -></di>{{ response}} <br>
    <di>debug -></di>{{ response.WordIN__c}}
    <h1>Hangman Game</h1>
    <div id="hangman-container">
        <!-- Dibujo del ahorcado -->
    </div>
    
    <div id="word-container">
        <!-- Espacios para las letras de la palabra a adivinar -->
    </div>
    <div id="guess-container">
        <!-- Espacios para las letras adivinadas -->
    </div>
    <div id="letters-container">
        <!-- Botones para cada letra -->
        <button class="letter-btn" onclick="handleGuess('A')">A</button>
        <button class="letter-btn" onclick="handleGuess('B')">B</button>
        <button class="letter-btn" onclick="handleGuess('C')">C</button>
        <button class="letter-btn" onclick="handleGuess('D')">D</button>
        <button class="letter-btn" onclick="handleGuess('E')">E</button>
        <button class="letter-btn" onclick="handleGuess('F')">F</button>
        <button class="letter-btn" onclick="handleGuess('G')">G</button>
        <button class="letter-btn" onclick="handleGuess('H')">H</button>
        <button class="letter-btn" onclick="handleGuess('I')">I</button>
        <button class="letter-btn" onclick="handleGuess('J')">J</button>
        <button class="letter-btn" onclick="handleGuess('K')">K</button>
        <button class="letter-btn" onclick="handleGuess('L')">L</button>
        <button class="letter-btn" onclick="handleGuess('M')">M</button>
        <button class="letter-btn" onclick="handleGuess('N')">N</button>
        <button class="letter-btn" onclick="handleGuess('O')">O</button>
        <button class="letter-btn" onclick="handleGuess('P')">P</button>
        <button class="letter-btn" onclick="handleGuess('Q')">Q</button>
        <button class="letter-btn" onclick="handleGuess('R')">R</button>
        <button class="letter-btn" onclick="handleGuess('S')">S</button>
        <button class="letter-btn" onclick="handleGuess('T')">T</button>
        <button class="letter-btn" onclick="handleGuess('U')">U</button>
        <button class="letter-btn" onclick="handleGuess('V')">V</button>
        <button class="letter-btn" onclick="handleGuess('W')">W</button>
        <button class="letter-btn" onclick="handleGuess('X')">X</button>
        <button class="letter-btn" onclick="handleGuess('Y')">Y</button>
        <button class="letter-btn" onclick="handleGuess('Z')">Z</button>
        <button class="letter-btn" onclick="handleGuess(' ')"> </button>
        <button class="letter-btn" onclick="handleGuess('-')">-</button>
       
    </div>
    <div id="attempts-container">
        <!-- Contador de intentos -->
    </div>


    <script>

    word1 = "{{response}}";

    console.log(word1);


 // Decodificar las entidades HTML a caracteres válidos
 var decodedString = word1.replace(/&#x27;/g, "'");

 const cadenaConComillasDobles = decodedString.replace(/'/g, "\"");

 const cadenaCorregida = cadenaConComillasDobles.replace(/True/g, "true");
  


console.log(cadenaCorregida)

var parsedData = JSON.parse(cadenaCorregida);
console.log(cadenaCorregida);

const wordINcValues = parsedData.records.map(record => record.WordIN__c);

console.log(wordINcValues);


  
     
     const words = wordINcValues
      

      let wordToGuess = '';
      let guessedLetters = [];
      let attempts = 0;
      const maxAttempts = 6;
      const hangmanImages = [
          'https://i.imgur.com/IBzkDxF.png',
          'https://i.imgur.com/g3U7jpS.png',
          'https://i.imgur.com/74OHhor.png',
          'https://i.imgur.com/i55DIsx.png',
          'https://i.imgur.com/Rk4vyUl.png',
          'https://i.imgur.com/4phs9xf.png'
      ];

      const winImage = 'https://i.imgur.com/Ad1xXbC.png'; // Nueva imagen para mostrar en caso de ganar

      function startGame() {
          wordToGuess = words[Math.floor(Math.random() * words.length)].toUpperCase();
          guessedLetters = [];
          attempts = 0;
          updateWordContainer();
          updateGuessContainer();
          updateAttemptsContainer();
          updateHangmanImage();
      }

      function updateWordContainer() {
          const wordContainer = document.getElementById('word-container');
          wordContainer.innerHTML = wordToGuess
              .split('')
              .map(letter => guessedLetters.includes(letter) ? letter : '_')
              .join(' ');
      }

      function updateGuessContainer() {
          const guessContainer = document.getElementById('guess-container');
          guessContainer.textContent = `Guessed letters: ${guessedLetters.join(', ')}`;
      }

      function updateAttemptsContainer() {
          const attemptsContainer = document.getElementById('attempts-container');
          attemptsContainer.textContent = `Attempts: ${attempts}/${maxAttempts}`;
      }

      function updateHangmanImage() {
          const hangmanContainer = document.getElementById('hangman-container');
          const hangmanImage = document.createElement('img');
          hangmanImage.src = hangmanImages[attempts]; // Ruta de la imagen según el número de intentos
          hangmanImage.alt = 'Hangman';
          hangmanContainer.innerHTML = ''; // Limpia el contenedor antes de agregar la imagen
          hangmanContainer.appendChild(hangmanImage);
      }

      function checkWinCondition() {
          for (const letter of wordToGuess) {
              if (!guessedLetters.includes(letter)) {
                  return false;
              }
          }
          return true;
      }

      function handleGuess(letter) {
          if (!guessedLetters.includes(letter)) {
              guessedLetters.push(letter);
              if (!wordToGuess.includes(letter)) {
                  attempts++;
              }
              updateWordContainer();
              updateGuessContainer();
              updateAttemptsContainer();
              updateHangmanImage();

              if (checkWinCondition()) {
                  const hangmanContainer = document.getElementById('hangman-container');
                  const hangmanImage = document.createElement('img');
                  hangmanImage.src = winImage;
                  hangmanImage.alt = 'Hangman';
                  hangmanContainer.innerHTML = '';
                  hangmanContainer.appendChild(hangmanImage);

                  // Mostrar la imagen de victoria antes de la alerta
                  setTimeout(() => {
                      alert('Congratulations! You guessed the word: ' + wordToGuess);
                      startGame();
                  }, 500);
              } else if (attempts === maxAttempts) {
                  alert('You reached the maximum number of attempts! The word was: ' + wordToGuess);
                  startGame();
              }
          }
      }

      document.addEventListener('DOMContentLoaded', () => {
          startGame();
      });
  </script>









<!-- Tu script existente -->

<div class="image-container">
    <img src="" alt="Imagen de Unsplash" width="128" height="128">
</div>
<button id="ejecutarBoton">Plz Give Me A Clue</button>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const accessKey = "HrnwGgWL7tLP0a_NwM9wXZefsR97p57nI78JQBbjgh8"; // Reemplaza con tu clave de API de Unsplash
        const imageElements = document.querySelectorAll(".image-container img");

        // Función que se ejecutará al hacer clic en el botón
        function ejecutarScript() {
            // Recorre cada imagen y obtén la imagen de referencia
            imageElements.forEach((imageElement) => {
                // Establece el término de búsqueda como "perro"
                const searchQuery = wordToGuess; // Puedes cambiar esto según tus necesidades

                // Realiza la solicitud a la API de Unsplash
                fetch(`https://api.unsplash.com/search/photos?query=${searchQuery}&client_id=${accessKey}`)
                    .then((response) => response.json())
                    .then((data) => {
                        // Obtiene la URL de la primera imagen de los resultados
                        const imageUrl = data.results[0].urls.regular;
                        imageElement.src = imageUrl;
                    })
                    .catch((error) => {
                        console.error("Error al obtener la imagen de referencia:", error);
                    });
            });
        }

        // Agrega un event listener al botón
        const boton = document.getElementById("ejecutarBoton");
        boton.addEventListener("click", ejecutarScript);
    });
</script>








</body>
</html>








